* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html,
body {
  width: 100%;
  height: 100%;
} */

/*-------------------------*/
/*----------typo graphy-----*/
/*--------------------------*/
h1,
h4 {
  font-family: Lato;
}

.header-h1 {
  font-family: Lato;
  font-weight: 700;
  color: #e05915;
}

body {
  background: #c2dde6;
}
/*------------ reuseable css ----*/
.container {
  overflow: hidden;
  width: 100%;
}
/*----------------*/
/*---- icon-main --*/
/*----------------*/
.icon-main {
  color: #e05915;
  border-bottom: 2px solid #431c5d;
  padding-bottom: 10px;
  padding-top: 20px;
}

div.icon-main-back {
  text-align: center;
  background-color: #c2dde6;
  margin-left: 10px;
}

/* -- icons --*/
.icons {
  margin-top: 80px;
  margin-left: 34%;
  display: inline-grid;
}

.icons .fas {
  margin-bottom: 130px;
  cursor: pointer;
}

/* ----------------- */
/*--- side bar----*/
/*----------------*/
.sidebar {
  position: fixed;
  width: 120px;
  float: left;
  color: #431c5d;
  background-color: #c2dde6;
  padding-bottom: 500em;
  margin-bottom: -500em;
}

/* ----------------- */
/*--- main(main display) ----*/
/*----------------*/
.main {
  width: auto;
  float: left;
  position: relative;
  padding-bottom: 500em;
  margin-bottom: -500em;
  margin-left: 120px;
}

/*--------------------*/
/*---------grid-------*/
/*-------------------*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  margin-left: 0px;
  margin-top: 130px;
}

/*---------image------*/
img {
  width: 100%;
}

/*---------content-----*/
.content {
  text-align: center;
  font-size: 14px;
  font-family: serif;
  padding: 10px;
  cursor: pointer;
}

/*------button-----*/
.button {
  text-align: center;
}

button {
  padding: 10px;
  border-radius: 200px;
  border: 2px solid #cdd422;
  background: #cdd422;
  color: white;
  cursor: pointer;
}

/*----- col ------*/
.col {
  border: 4px solid #e6e9f0;
  width: 280px;
  padding: 10px;
  background: #e6e9f0;
}

/*----- input -----*/
.input-main {
  text-align: center;
  padding: 1%;
}

button,
input:focus {
  outline-width: 0;
}

input {
  border-radius: 40px;
  border: 3px solid #bccbde;
  padding: 20px;
  width: 400px;
  border: 2px solid #c2dde6;
}

/*------button --*/
#search {
  cursor: pointer;
  color: darkblue;
  padding: 10px;
}

/* --------- input -------*/
.input-main {
  position: fixed;
  background: ;
  width: 1275px;
  padding: 30px;
}

/* ------------ second page -----*/
/*----------------------------*/
/*--------lyrics--------------*/
.lyrics-block {
  text-align: center;
  line-height: 35px;
  width: 100%;
  margin-left: 100px;
}

/*---------- player bock music player ---*/
/*-------------player-----------*/
.player-main {
  position: fixed;
  background: #431c5d;
  width: 1050px;
  padding: 30px;
  border-radius: 200px;
  margin-left: 90px;
  margin-top: 20px;
  color: white;
}
